@media (prefers-color-scheme: light) {
    body {
        background-image: url("./imgs/sunny2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("./imgs/dark-mode1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}

h1 {
    margin: 40px 0 10px 0;
    padding-bottom: 10px;
    text-align: center;
}



.dnd-list {
    margin-top: 40px;
}
