body {
  /* background-image: url("imgs/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

h1 {
  margin: 40px 0 10px 0;
  padding-bottom: 10px;
  text-align: center;
}



.dnd-list {
  margin-top: 40px;
}